node_modules
npm-debug.log
.nyc_output
coverage*
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
Dockerfile
compose.yml
.compose*
.nyc_output
coverage
.vscode
dist
build
Makefile
.editorconfig
.idea
LICENSE
.devenv*
devenv*
.envrc
.direnv*
.vscode